/*
========================================
Archivo: styles.css
========================================
*/
/*Aca definimos a quien le aplicamos el estilo, en este cado body*/
body{

    font-family: Arial, Helvetica, sans-serif;

    margin:40px;

    background:#f5f5f5;

}

h1{

    color:#0d6efd;

}
/*Aca definimos a quien le aplicamos el estilo, pero utilizando la etiqueta de class*/
.descripcion{

    color:#444;

    font-size:18px;

    line-height:1.6;

}
